body {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.signup-wrapper {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%) !important;
}

.signup-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%; /* Adjusted width */
    transition: max-width 0.3s;
}

.signup-title {
    text-align: center;
    margin-bottom: 10px; /* Adjusted margin */
    font-weight: 600;
    color: #444;
    transition: font-size 0.3s;
    font-size: 24px; /* Adjusted font size */
}

.signup-form-group {
    margin-bottom: 15px;
}

.signup-label {
    font-weight: 500;
    color: #333;
}

.signup-input {
    width: 100%;
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.signup-btn-neon {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #1DD1A1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
    font-size: 16px;
}

.signup-btn-neon:hover {
    background-color: #10A881;
}
.cl{
    text-decoration: none !important;
    list-style: none !important;
    color: #246834 !important;
}